/* Entire Document ------ */
img {
    width: 300px;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    color: #2E2C2F;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
a {
    color: #F7F7F2;
    background: #2E2C2F;
    padding: 8px;
    border-radius: 4px;
}
a:hover {
    text-decoration: none;
    background: rgba(103,100,104, 80%)
}
section {
    padding: 8px;
}
header {
    padding: 8px;
}
h1 {
    font-size: 75px;
    text-shadow: 8px 8px 8px #748166;
}
h2 {
    font-size: 30px;
    text-shadow: 4px 4px 4px rgb(167, 167, 167);
}
.subheader {
    text-shadow: 4px 4px 4px #748166;
}
h1, h2 {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile ------ */
header {
    background: #899878;
}


/* Projects ------ */
.projects {
    background:#F7F7F2;
}
.project-item {
    overflow: hidden;
    border-bottom: 1px dashed;
    padding: 25px 0;
}
.project-item img {
    float: left;
    margin: 20px;
}


/* Work Experience ------ */
.work-experience {
    background: #E4E6C3;
}


/* Education ------ */


/* Contact ------ */
footer {
    background: #EB9486;
    color: #F7F7F2;
    padding: 8px;
}
li {
    padding: 10px;
    display: inline-block;
}